body{
    /* background-color: #ffac38;  */
    font-family: 'Roboto', sans-serif;
    background-color: #333;
}     
.details{
    position:relative;
    bottom: 80%;
}
 .signup-box{
   border-radius: 3px; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #333;
   border-radius: 20px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   padding: 20px;
   width: 380px;
   margin-left: auto;
   margin-right: auto;
} 
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px; 
    margin-left: 20px;
}  
 form label{
    display:flex; 
    margin-top: 20px;
    font-size: 18px;

}   
 form input{
    width: 100%; 
    padding: 1px; 
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
}   
#register{
    width: 320px;
    height: 35px;
    margin-top: 20px;
}
.login-box{
    border-radius: 3px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

